@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

@layer components {
  button {
    @apply transition-all uppercase font-semibold cursor-pointer rounded-lg hover:shadow-lg text-base p-2 bg-gray-700 text-white hover:bg-gray-800 active:scale-90 shadow-md;
  }

  button.red {
    @apply bg-red-700 hover:bg-red-800;
  }

  button.blue {
    @apply bg-blue-700 hover:bg-blue-800;
  }

  button.green {
    @apply bg-green-700 hover:bg-green-800;
  }

  button.yellow {
    @apply bg-yellow-700 hover:bg-yellow-800;
  }

  button.orange {
    @apply bg-orange-700 hover:bg-orange-800;
  }

  table {
    @apply border-2 rounded-lg border-black;
  }

  thead {
    @apply bg-blue-500 text-white;
  }

  tbody {
    @apply bg-gray-200 text-black;
  }

  td, th {
    @apply p-3 border-2 border-black;
  }

  a {
    @apply hover:font-bold hover:underline transition-all;
  }
}
